<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Daddys Movies</title>
    <meta name="twitter:description" content="This is private movie streaming platform. You need to be invited to have access to the platform.
If you wish to use the code for this project, you can get it at my GitHub at https://ltsana.github.io/">
    <meta property="og:image" content="/assets/img/favicons/512.png?h=1f59b3137f3a63015186b143baa1bb98">
    <meta name="twitter:title" content="Daddys Movies">
    <meta name="description" content="This is private movie streaming platform. You need to be invited to have access to the platform.
If you wish to use the code for this project, you can get it at my GitHub at https://ltsana.github.io/">
    <meta name="twitter:card" content="summary">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicons/180.png?h=8d477814426dc9b773b7f4795341d952">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/16.png?h=bf8b447353f5ee4403dda7e1476e2c76">
    <link rel="icon" type="image/png" sizes="38x38" href="/assets/img/favicons/32.png?h=3fbf1d9baf3e583011d4869ee19b3214">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicons/180.png?h=8d477814426dc9b773b7f4795341d952">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/192.png?h=8d477814426dc9b773b7f4795341d952">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicons/512.png?h=1f59b3137f3a63015186b143baa1bb98">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caesar+Dressing">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/custom-alert.css?h=18b095f60c1b3a8e85c79f89105523e3">
    <link rel="stylesheet" href="/assets/css/global/custom-alert.css?h=dfadba239303e13a114fe587a07f2978">
    <link rel="stylesheet" href="/assets/css/global/Footer-Dark.css?h=4c007a81a3274ccfe89404145043562d">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="/assets/css/global/Navigation-Clean.css?h=a372820588687869380f8c1b5531b5be">
    <link rel="stylesheet" href="/assets/css/global/styles.css?h=2033120ff7789d2b1bb9e971712b9e52">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body class="d-flex flex-column justify-content-center align-items-center">
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">CODE: 500<br>The server has crashed.</h3>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=47e20ca828ec68956ae4e635c025ada7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/custom-alert.js?h=956c946510e8423abdcf7495403bcfd1"></script>
    <script src="/assets/js/global/ghost.js?h=40857c68a7488a11838db68fb6c5c45c"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfitR8bAAAAAE8MmJwwzMtTfM-dBdbZQsr6iC4f"></script>
    <script src="/assets/js/global/reconnecting-websocket.js?h=4ef9dd81c9e8157a1702623078c7ece1"></script>
</body>

</html>