{% load static %}
<meta property="og:image" content="{% static 'pages/assets/img/favicons/512.png?h=1f59b3137f3a63015186b143baa1bb98' %}">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'pages/assets/img/favicons/180.png?h=8d477814426dc9b773b7f4795341d952' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/assets/img/favicons/16.png?h=bf8b447353f5ee4403dda7e1476e2c76' %}">
<link rel="icon" type="image/png" sizes="38x38" href="{% static 'pages/assets/img/favicons/32.png?h=3fbf1d9baf3e583011d4869ee19b3214' %}">
<link rel="icon" type="image/png" sizes="180x180" href="{% static 'pages/assets/img/favicons/180.png?h=8d477814426dc9b773b7f4795341d952' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'pages/assets/img/favicons/192.png?h=8d477814426dc9b773b7f4795341d952' %}">
<link rel="icon" type="image/png" sizes="512x512" href="{% static 'pages/assets/img/favicons/512.png?h=1f59b3137f3a63015186b143baa1bb98' %}">
